<!DOCTYPE html>
<html>
<body>


<a href="http://www.google.com"><img src="npath.jpg" alt="image not found" width=90 height=100></a>
<br>
<table border="2" align="center">
<th>ID</th>
<th>NAME</th>

<tr>
<td>100</td>
<td>puja</td>
</td>
</tr>
<br>

<tr>
<td>200</td>
<td><a href="http://www.google.com">Goje</a></td>
</td>
</tr>
<br>

<tr>
<td>300</td>
<td><a href="http://www.google.com"><img src="tiger.jpg" alt="image not foun" width=100 height=100></a></td>
</td>
</tr>
<br>

</table>
</body>
</html>